body {
    background: #000000;
}

#conteudo {
    width: 98.5vw;
    height: 95vh;
    border: 1px solid;
}

#main_menu {
    display: grid;
    width: 100%;
    height: 100%;
    color: #FFFFFF;
}

#main_menu * {
    margin: auto;
}

#main_menu input[type="button"] {
    margin-top: initial;
    background: #0000FF;
    color: #FFFFFF;
    border-radius: 50px;
    font-size: 14pt;
    cursor: pointer;
}

#placar {
    position: absolute;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 19pt;
    background: rgb(0 0 0 / 25%);
    color: #FFF;
    padding: 10px;
}

#canvas {
    border: 1px solid gray;
    width: 100%;
    height: 100%;
}